.content-wrapper {
  transition: margin-left 0.3s ease-in-out;
}

.main {
  margin-left: 285px; 
  margin-top: 110px; 
  font-family: "Poppins", sans-serif;
}
.content-wrapper.collapsed .main {
  margin-left: 0px; 
  transition: margin-left 0.3s ease-in-out;
}
.heading-wrapper {
  width: 100%;
  font-family: "Montserrat", sans-serif;
  color: #000000;
  padding-top: 30px;
}

.heading-wrapper p {
  font-size: 25px;
  font-weight: 600;
}

.main-content {

  width: 100%;
}

.form-wrapper {
  background-color: #fff;
  margin: 0 30px;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 30px 30px 20px;
  margin-bottom: 84px;
}

#button {
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Exo 2', sans-serif;
  font-weight: 300;
  display: inline-block;
  position: relative;
  text-align: center;
  color: #ffffff;
  border: 1px solid #ffffff; 
  border-radius: 10px; 
 font-weight: bold;
  box-shadow: 0 0 0 0 transparent;
  transition: all 0.2s ease-in;
}
#button:hover {
  color: rgb(247, 247, 247);
  box-shadow: 0 0 30px 0 rgba(2, 185, 251, 0.5);
  background-color: #0776a5; 
  transition: all 0.2s ease-out;
}



#button:active {
  box-shadow: 0 0 0 0 transparent;
  transition: box-shadow 0.2s ease-in;
}
#button:before {
  content: '';
  display: block;
  width: 0px;
  height: 86%;
  position: absolute;
  top: 7%;
  left: 0%;

  opacity: 0;
  background: white;
  box-shadow: 0 0 15px 3px white;
  transform: skewX(-20deg);
}
#button:hover:before {
  animation: shine 0.75s 0.2s linear;
}
@keyframes shine {
  0% {
    left: -100%;
    opacity: 0.2;
    width: 100%;
    height: 100%;

  }
  50% {
    opacity: 0.1;
    width: 100%;
    height: 100%;

  }
  100% {
    left: 100%;
    opacity: 0;
    width: 100%;
    height: 100%;
  }
}




.form-metadata {
  margin-bottom: 15px;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
}

.input-wrapper label {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 5px;
}

input {
  border: 1px solid rgb(173, 171, 171);
  border-radius: 7px;
  font-size: 14px;
  padding: 12px 10px;
}

input:focus {
  outline: none; 
  border: 2px solid #08556d; 
}

select {
  border: 1px solid rgb(173, 171, 171);
  border-radius: 7px;
  font-size: 14px;
  padding: 12px 10px;
}

button {
  border: none;
  text-align: center;
  margin-top: 3px;
  padding: 11px 0;
  border-radius: 7px;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
}

.copy-btn-wrapper button {
  width: 130px;
  background-color: #08556d;
}

.add-section-wrapper {
  margin-top: 12px;
}

.add-section-btn-wrapper .btn1 {
  width: 160px;
  background-color:  #08556d;
}

.add-section-btn-wrapper .btn2 {
  width: 140px;
  margin-left: 10px;
  background-color: #720808;
}

.save-btn-wrapper {
  width: 100%;
  margin-top: 50px;
  display: flex;
  justify-content: end;
  column-gap: 15px;
}

.save-btn-wrapper .btn1 {
  width: 120px;
  color: black;
  background-color: rgb(235, 235, 235);
}

.save-btn-wrapper .btn2 {
  width: 120px;
  background-color: rgb(23, 97, 97);
}

.sections {
  width: 100%;
  margin-top: 30px;
}

.section {
  width: 100%;
  padding: 10px 0;
  border: 2px solid #d3d3d3;
  border-radius: 10px;
}

.head-wrapper {
  padding: 0 10px;
}

.section-name-wrapper p {
  font-size: 16px;
  font-weight: 600;
}

.edit-section-metadata {
  text-align: end;
  padding-right: 20px;
}

.edit-section-metadata .deleteIcon {
  margin-left: 20px;
}

.divider {
  border: none;
  border-bottom: 2px solid #3b3b3b;
}

.add-question-wrapper {
  padding: 0 10px;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
}

.input-wrapper label {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 5px;
}

.select {
  border: 1px solid rgb(173, 171, 171);
  border-radius: 7px;
  font-size: 14px;
  padding: 12px 10px;
}

.add-question-btn-wrapper {
  display: flex;
}

.add-question-btn-wrapper .btn1 {
  width: 160px;
  font-size: 12px;
  background-color: #08556d;
}

.add-question-btn-wrapper .btn2 {
  width: 140px;
  margin-left: 10px;
  font-size: 12px;
  background-color: #720808;
}

.questions {
  width: 100%;
  padding: 15px;
}

.questions .question {
  width: 100%;
}

.question-name-wrapper p {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 5px;
}

.answer-type {
  padding-left: 15px;
}

.answer-type input {
  border: 1px solid rgb(173, 171, 171);
  border-radius: 7px;
  font-size: 14px;
  padding: 12px 10px;
}

.answer-type input:focus {
  outline: none; 
  border: 2px solid #0dc5dd; 
}

.answer-type select {
  border: 1px solid rgb(173, 171, 171);
  border-radius: 7px;
  font-size: 14px;
  padding: 12px 10px;
}

.question .editIcon {
  margin-left: 5px;
}

.question .deleteIcon {
  margin-left: 20px;
}

.custom-modal-header {
  background-color: #720808; 
  color: white; 
}

.custom-modal-header p {
  font-size: 24px;
  font-weight: 600;
}

.modal-body {
  margin: 15px 0;
}

.modal-footer .btn1 {
  width: 120px;
  background-color: #08556d;
}

.modal-footer .btn2 {
  width: 120px;
  background-color: #720808;
}